<div class="container">
  <h2>Add Account</h2>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-sm-push-3">
      <input type="text" ng-model="username" class="form-control" placeholder="Name"><br>
      <input type="text" ng-model="deposit" class="form-control" placeholder="Deposit"><br>
      <input type="text" ng-model="creditCard" class="form-control" placeholder="Credit Card"><br>
      <a href="#"><button ng-click="sendData()" class="btn btn-primary btn-block">Add Account</button></a>
    </div>

  </div>
</div>
