<div class="container">
  <h2>Edit Account</h2>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-sm-push-3">
      <input type="text" style="display:none" ng-model="activeUser.id" class="form-control" ><br>
      <input type="text" ng-model="activeUser.username" class="form-control" ><br>
      <input type="text" ng-model="activeUser.deposit" class="form-control" ><br>
      <input type="text" ng-model="activeUser.creditCard" class="form-control" ><br>
        <a href="#"><button ng-click="updateData()" class="btn btn-primary btn-block">Edit Account</button></a>
    </div>
  </div>
</div>
